---
title: About
---

<h1>
  Hi there!
</h1>

<p>This is a Middleman app that uses Webpack to bundle assets and GitHub Actions to deploy everything to GitHub Pages :)</p>

<%= link_to 'Home', "../" %>
